{% block modal %}

<div class="modal" id="modal-edit-url-{{url._id}}">
  <button class="close-modal" aria-label="Close">X</button>
  <div class="modal-content">
    <div class="collection-info flex">
      <div class="icon-label-medium icon-label-teal">
        <span class="iconify" data-icon="arcticons:urlsanitizer"> </span>
      </div>
      <div>
        <h2>Edit URL</h2>
      </div>
    </div>
    <form
      id="editURL"
      action="/api/update/{{url._id}}"
      method="POST"
    >
      <div class="flex input-wrapper">
        <span
          class="iconify iconify-inline"
          data-icon="iconoir:input-field"
        ></span>
        <input
          class="input"
          type="text"
          name="name"
          placeholder=" "
          role="presentation"
          autocapitalize="on"
          value="{{url.name}}"
        />
        <label for="name" class="label">Name </label>
      </div>

      <div class="flex input-wrapper">
        <span
          class="iconify iconify-inline"
          data-icon="iconoir:input-field"
        ></span>
        <input
          class="input"
          type="text"
          name="destination"
          placeholder=" "
          role="presentation"
          autocapitalize="on"
          value="{{url.destination}}"
        />
        <label for="name" class="label">Destination </label>
      </div>


      <div class="flex input-wrapper">
        <span
          class="iconify iconify-inline"
          data-icon="iconoir:input-field"
        >
        </span>

        <input
          class="input"
          type="text"
          id="alias{{url._id}}"
          name="alias"
          placeholder=" "
          role="presentation"
          autocapitalize="on"
          value="{{url.alias}}"
          oninput="handleValueChangeAlias{{url._id}}('alias{{url._id}}')"
        />
        <label for="name" class="label">Alias </label>
      </div>
      <div id="error{{url._id}}" style="height: 10px; color: rgb(255, 81, 81);"></div>




   

    

      <div class="flex right">
        <button id="edit_submit_{{url._id}}" class="button blue" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>

<script>

    function handleValueChangeAlias{{url._id}}(id) { 
        
        var aliasValue = document.getElementById(id).value 
        $.ajax({
          url: '/api/validate/alias?name={{url.name}}',
          type: 'POST',
          data: {'alias': aliasValue},
          success: function(data) {
            if (data == 'True') {
                $('#error{{url._id}}').empty();
                $("#edit_submit_{{url._id}}").css("background","rgb(33, 150, 243)");
                $("#edit_submit_{{url._id}}").attr("disabled", false);

            } else {
                console.log('no good')
                document.getElementById('error{{url._id}}').innerHTML="This alias has already been assigned";
                $("#edit_submit_{{url._id}}").css("background","grey");
                $("#edit_submit_{{url._id}}").attr("disabled", true);       
            }}
      });
    }
  </script>

  

{% endblock modal %}
