{% block modal %}

<div class="modal" id="modal-create-blueprint">
  <button class="close-modal" aria-label="Close">X</button>
  <div class="modal-content">
    <div class="collection-info flex">
      <div class="icon-label-medium icon-label-teal">
        <span class="iconify" data-icon="arcticons:urlsanitizer"> </span>
      </div>
      <div>
        <h2>Create URL</h2>
      </div>
    </div>
    <form
      id="logblueprints"
      action="/api/create"
      method="POST"
    >
      <div class="flex input-wrapper">
        <span
          class="iconify iconify-inline"
          data-icon="iconoir:input-field"
        ></span>
        <input
          class="input"
          type="text"
          name="name"
          placeholder=" "
          role="presentation"
          autocapitalize="on"
        />
        <label for="name" class="label">Name </label>
      </div>

      <div class="flex input-wrapper">
        <span
          class="iconify iconify-inline"
          data-icon="iconoir:input-field"
        ></span>
        <input
          class="input"
          type="text"
          name="destination"
          placeholder=" "
          role="presentation"
          autocapitalize="on"
        />
        <label for="name" class="label">Destination </label>
      </div>

      <div class="flex input-wrapper">
        <span
          class="iconify iconify-inline"
          data-icon="iconoir:input-field"
        >
        </span>

        <input
          class="input"
          type="text"
          id="alias"
          name="alias"
          placeholder=" "
          role="presentation"
          autocapitalize="on"
          oninput="handleValueChangeAlias('alias')"
        />
        <label for="name" class="label">Alias </label>
      </div>
      <div id="error-alias" style="height: 10px; color: rgb(255, 81, 81);"></div>

   

    

      <div class="flex right">
        <button id="create_submit" class="button blue" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>

<script>

    function handleValueChangeAlias(id) { 
        
        var aliasValue = document.getElementById(id).value 
        $.ajax({
          url: '/api/validate/alias',
          type: 'POST',
          data: {'alias': aliasValue},
          success: function(data) {
            if (data == 'True') {
                $('#error-alias').empty();
                $("#create_submit").css("background","rgb(33, 150, 243)");
                $("#create_submit").attr("disabled", false);

            } else {
                console.log('no good')
                document.getElementById('error-alias').innerHTML="This alias has already been assigned";
                $("#create_submit").css("background","grey");
                $("#create_submit").attr("disabled", true);       
            }}
      });
    }
  </script>

{% endblock modal %}
