<header>
  <!-- <div class="blur-view"></div> -->
  <nav class="navbar-top" aria-label="primary" style="width: 100%;">


    <!-- <input value="#eeeeee" type="color" id="color"> -->
    {% if current_user %}
      <ul role="list" class="flex dropdown-nav align-items-start">
          <li class="flex flex-column dropdown" aria-haspopup="true">
            <button class="icon-button" aria-controls="user-account-menu" aria-label="submenu" aria-haspopup="true"
              aria-label="User Account Menu" aria-expanded="false" tabindex="0">
              <div class="icon-label initials" data-id="{{current_user._id}}"
                id="{{current_user.first_name}} {{current_user.last_name}}">
                <span class="iconify" data-icon="clarity:id-badge-solid"> </span>
              </div>
              <div class="user">
                <span class="ms-1">{{current_user.first_name}}&nbsp;{{current_user.last_name}}</span>
              </div>
            </button>
            <div class="flex blur dropdown-content">
              <div class="col profile px-1" style="z-index: 1000;">
                <div class="icon-label-large icon-label initials" data-id="{{current_user._id}}" id="large-{{current_user.first_name}} {{current_user.last_name}}"></div>
                <p class="profile" style="margin-left: 10px">
                  {{current_user.first_name}} {{current_user.last_name}}
                </p>
              </div>
              {# TODO: replace with right url refs #}
              <a href="/api/logout">
                <span class="flex ms-1">
                  <span class="iconify" data-icon="mdi:logout"></span>
                  <span class="ms-1">Logout</span>
                </span>
              </a>
            </div>
          </li>
        </ul>
      {% endif %}
  </nav>
</header>