{% from "partials/macros.html" import nav_link with context %}

<aside class="container">

    <!-- <script>
      // Set css var(--sidebar-width) to 65px
      document.querySelector('body.auth').style.setProperty('--sidebar-width',
        '65px');
    </script> -->
  
    <!-- <script>
      // Set css var(--sidebar-width) to 285pstyles
      x
      document.querySelector('body.auth').style.setProperty('--sidebar-width',
        '285px');
    </script> -->
    <nav class="sidebar main" aria-label="side">
      <ul role="list" style="width: 100%; background-color: rgba(31, 34, 34, 0.4);">

        <li class=" flex row">
          <a class="flex object" href="/napkins">
            <div class="icon-label-clear">
              <span class="iconify" data-icon="bi:list"></span>
            </div>
            <span class="label">All Napkins</span>
          </a>
        </li>
        <li class=" flex row">
            <a class="flex object" href="/api/create">
              <div class="icon-label-clear">
                <span class="iconify" data-icon="akar-icons:plus"></span>
              </div>
              <span class="label">New Napkin</span>
            </a>
          </li>

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
        <div class="divider"></div>

        <div class="scrollbox">

        {% for napkin in all_napkins %}
          {{ nav_link(napkin) }}
  
        {% endfor %}
      </div>

  
  
  
      </ul>
    </nav>
  
  </aside>
  