<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>{% block title %}
    Napkin
    {% endblock title %} </title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
    rel="stylesheet" />
  <script
    src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Map,Set,Element.prototype.matches,Node.prototype.contains">
  </script>

  <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>

  {% block styles %}
  <link rel="shortcut icon"
    href="{{ url_for('static', filename='pencil-solid.svg') }} "
    type="image/x-icon" />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">

  {% endblock styles %}
</head>

<body class="{% if current_user %}auth{%else%}flex center unauth{% endif %}">
  {% block loggedin_view %}
  {% if current_user %}
  {% include 'partials/sidebar.html' %}
  {% include 'partials/navbar.html' %}
  {% endif %}
  {% endblock loggedin_view %}
  <main>

    {% block content %}
    {% block messages %}
    {% include 'partials/flash-messages.html' %}
    {% endblock messages %}
    {% endblock content %}
  </main>

  <div class="overlay blur" role="dialog" aria-modal="true"
    aria-live="assertive">

  </div>


  <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
  <script src="{{ url_for('static', filename='js/colors.js') }} ">
  </script>
  <script src="{{ url_for('static', filename='js/navigation.js') }}">
  </script>


  {% block scripts %}
  <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
  {% endblock scripts %}

  {% block third_party_js %}
  <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  {% endblock third_party_js %}
</body>

</html>
