{% extends "layouts/auth.html" %}


{% block content %}
{% block messages %}
{{super()}}
{% endblock messages %}
<div class="flex jumbocard" style="margin-bottom: 15%;">
  <div class="icon-label-large icon-label-black">
    <span class="iconify" data-icon="bi:person-plus-fill">
    </span>
  </div>
  <h2>&nbsp;</h2>

  <form id="createUserForm" action="/api/register" method="POST">
    <div class="flex justify">
      <div class="flex input-wrapper">
        <span class="iconify-inline" data-icon="akar-icons:person"></span>
        <input class="input" type="text" name="first_name" placeholder=" "
          role="presentation" autocapitalize="on">
        <label for="first_name" class="label">First Name
          <span id="error_first_name" class="error-message text-danger"></span>
        </label>
      </div>

      <div class="flex input-wrapper">
        <span class="iconify-inline" data-icon="akar-icons:person"></span>
        <input id="last_name" class="input" type="text" name="last_name"
          placeholder=" " autocapitalize="on" />
        <label for="middle_name" class="label">Last Name</label>
      </div>

    </div>

    <div class="flex justify">
      <div class="flex input-wrapper">
        <span class="iconify-inline" data-icon="ri:lock-password-line"></span>
        <input class="input" id="password" type="password" name="password"
          placeholder=" " autocomplete="off" />
        <label for="password" class="label">Password
          <span id="error_password" class="error-message text-danger"></span>
        </label>
      </div>
      <div class="flex input-wrapper">
        <span class="iconify-inline" data-icon="ri:lock-password-line"></span>
        <input id="confirm_password" class="input" type="password"
          name="confirm_password" placeholder=" " autocomplete="off" />
        <label for="confirm_password" class="label">Confirm Password
          <span id="error_confirm_password"
            class="error-message text-danger"></span>
        </label>
      </div>
    </div>

    <div class="flex justify">
      <div class="flex input-wrapper">
        <span class="iconify-inline" data-icon="fluent:mail-48-regular">
        </span>
        <input id="email" type="text" name="email" placeholder=" "
          class="input" />
        <label for="email" class="label">Email
          <span id="error_email" class="error-message text-danger"></span>
        </label>
      </div>
      <div class="flex input-wrapper">
        <span class="iconify-inline"
          data-icon="clarity:phone-handset-line"></span>
        <input id="phone" type="text" name="phone_number" placeholder=" "
          class="input" />
        <label for="phone" class="label">Phone Number
          <span id="error_phone" class="error-message text-danger"></span>
        </label>
      </div>
    </div>







    <div class="flex justify">
      <div class="row">
        Already have an account? <a class="text-blue" href="/login">Login</a>
      </div>
      <div class="spacer"></div>
      <div class="row flex-end">
        <input class="button muted" type="reset" onClick="clearErrors()"
          placeholder="reset" />
        <button type="submit" class="button blue">Register</button>
      </div>
    </div>


  </form>


</div>
</div>

{% endblock %}


{% block scripts %}

<script>
  function clearErrors() {
    document.getElementById("error_email").innerHTML = "";
    document.getElementById("error_password").innerHTML = "";
  }
</script>

{% endblock scripts %}
