{% extends "layouts/base.html" %}
{% block content %}
<div class="container collections" style="margin-left: 10%; margin-right: 10%; min-width: 60% !important;">

  {% if not urls %}
  <section class= "card-header">
    <div class="flex jumbocard" style="margin-bottom: 40%;">
      <div class="icon-label-large icon-label-black">
        <span class="iconify" data-icon="arcticons:urlsanitizer">
        </span>
      </div>
      <h2>&nbsp;</h2>
      <h1>No URL's Found</h1>
      <div class="row" style="padding-top: 15px;">
    
      <a href="#" id="modal-create-blueprint-button"
      class="open-modal flex object button blue">+ New URL</a>
    </div>
    </div>
  </section>
  {% else %}
  <section
    class="card-header flex">
    <div class="collection-info flex">
      




      
      <div
        class="icon-label-black icon-label-large" style="margin-left: 50px;">
        <span class="iconify" data-icon="arcticons:urlsanitizer"> </span>
      </div>
      <div>
        <h2>URL's</h2>
      </div>
    </div>

    <div class="actions flex">
      <ul role="list" class="flex">
        <li class="flex row">
          
          <a href="#" id="modal-create-blueprint-button"
          class="open-modal button blue" style="margin-right: 60px;: 0;">+ New URL</a>
        </li>

    </div>
  </section>


  <section class="card-body">
    <table class="table table-bordered table-strip">
      <thead>
        <tr>
          <th>NAME</th>
          <th>ALIAS</th>
          <th></th>

        </tr>
      </thead>
      <tbody>

        {% for url in urls %}
        <tr>
          <td>
            <div class="flex">
              <div class="icon-label " data-id="{{ url._id }}" id="@{{ url._id }}">
                <span class="iconify" data-icon="arcticons:urlsanitizer"></span>
              </div>
              <span class="attribute label">
                {{url.name}}
              </span>
            </div>
          </td>

          <td>
            <span class="attribute label">
              {{host_url}}/r/{{url.alias}}
            </span>
          </div>
        </td>



          <td class="flex flex-end" style="z-index: -300;">

            <a class="icon-label-pink" href="/r/{{url.alias}}"
            aria-label="VIEW">
            <span class="iconify" data-icon="ic:round-route"></span>
          </a>
          <a class="icon-label-green open-modal" href="#"
          id="modal-edit-url-{{url._id}}-button" aria-label="VIEW">
          <span class="iconify" data-icon="ant-design:edit-outlined"></span>
        </a>



        <a class="icon-label-red" href="/api/delete/{{url._id}}"
        aria-label="VIEW">
        <span class="iconify" data-icon="bx:trash"></span>
      </a>
          </td>
        </tr>

        {% endfor %}

      </tbody>
    </table>


  </section>


  
  {% endif %}





</div>
{% endblock %}

{% block modal %}
{{ super() }}
{% for url in urls %}
{% include 'partials/modals/edit-url-modal.html' %}
{% endfor %}
{% endblock modal %}
